<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoryController" />
                <binding name="BasicHttpBinding_ITodoController" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Host/CategoryController"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryController"
                contract="CategoryControllerServiceReference.ICategoryController"
                name="BasicHttpBinding_ICategoryController" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Host/TodoController"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITodoController"
                contract="TodoControllerServiceReference.ITodoController"
                name="BasicHttpBinding_ITodoController" />
        </client>
    </system.serviceModel>
</configuration>