<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TodoSystem.UI.Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <applicationSettings>
    <TodoSystem.UI.Runner.Properties.Settings>
      <setting name="Address" serializeAs="String">
        <value>http://localhost:8733/Design_Time_Addresses/Host/</value>
      </setting>
    </TodoSystem.UI.Runner.Properties.Settings>
  </applicationSettings>
</configuration>