<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Host.TodoController">
                <endpoint address=""
                          binding="basicHttpBinding" contract="TodoSystem.Service.Model.Interface.ITodoController"/>
                <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
                <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:8733/Design_Time_Addresses/Host/TodoController" />
                  </baseAddresses>
                </host>
            </service>
            <service name="Host.CategoryController">
              <endpoint address=""
                      binding="basicHttpBinding" contract="TodoSystem.Service.Model.Interface.ICategoryController"/>
              <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:8733/Design_Time_Addresses/Host/CategoryController" />
                </baseAddresses>
              </host>
            </service>
      </services>

    </system.serviceModel>
</configuration>